.hunterlogo {
	position: absolute; left: 10px; top: 10px; width: 141px;
	
}
.hunter-nav {
		background-image: none;
}

.carousel-caption {
	background-color: rgba(200,200,200, 0.8);
	color: #212121;
	padding: 20px;
	left: 5%;
	right: 5%;
}

.btn-success {
	background-color:#206f3f;
}

.dropdown-menu {
	background-color: rgba(255,255,255, 0.8);
}

 
@media (max-width: 600px) {
	.hunterlogo {
		position: absolute; left: 10px; top: 10px; width: 100px; 
	}
  
	.hunter-nav {
		background-image: none;
	}

}