.hunterlogo {
	position: absolute; left: 10px; top: 10px; width: 100px; z-index: 1000;
}

.hunter-nav {
		background-image: none;
}
.navbar-collapse {
	margin-left: 140px
}

.carousel-caption {
	background-color: rgba(200,212,200, 0.9);
	border-radius: 6px;
	box-shadow: 3px 3px 5px #222222;
	color: #242424;
	padding: 20px;
	left: 15%;
	right: 15%;
}

.btn-success {
	background-color:#206f3f;
}

.dropdown-menu {
	background-color: rgba(255,255,255, 0.8);
}

.first-slide {
	background-image: url(images/tillicum.jpg);
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	background-color: #a9a9a9;
}
.second-slide {
	background-image: url(images/cityscape.jpg);
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	background-color: #a9a9a9;
}
.third-slide {
	background-image: url(images/van.jpg);
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	background-color: #a9a9a9;
}
.body {
	background-color: #a9a9a9;
}
.header-filter:after {
        background: rgba(13, 144, 13, 0.88) !important;
        background: linear-gradient(45deg,  rgba(13, 144, 13, 0.88) 0%, rgba(44, 210, 44, 0.31) 100%) !important;
        background: -moz-linear-gradient(135deg,  rgba(13, 144, 13, 0.88) 0%, rgba(44, 210, 44, 0.31) 100%) !important;
        background: -webkit-linear-gradient(135deg,  rgba(13, 144, 13, 0.88) 0%, rgba(44, 210, 44, 0.31) 100%) !important;
}

.btn-success {
	background-color: #216f3f !important;
}

&.navbar-transparent{
        background-color:rgba(55, 156, 55, 0.4)!important;
        box-shadow: none;
        padding-top: 25px;
        color: $white-color;
    }
@media (max-width: 600px) {

	.navbar-collapse {
		margin-left: 105px;
	}

	.hunterlogo {
		position: absolute; left: 10px; top: 10px; width: 90px;
	}

	.hunter-nav {
		background-image: none;
	}

	.carousel-caption {
		left: 5%;
		right: 5%;
	}


}
